@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --main-color : #f1eee4;
    --sec-color : #f7f2ec;
	--text-color : black;
}


* {
margin:0;
padding : 0;
box-sizing: border-box;
font-family: 'Tajawal', sans-serif; 
font-weight : 300; 
direction: rtl;
scroll-behavior: smooth;
}

select#lang {
    height: auto !important;
    width: auto !important;
    border-radius: 10px;
}


ul.page-numbers {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    color: black;
}

a.page-numbers {
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}
.page-numbers.current {
    font-size: 16px;
    font-weight: 900;
    color: #505050;
}

ul {list-style : none}
a {text-decoration : none}

.imgcontainer {position : relative ; margin-bottom: 16px;}
.cartico {position : absolute !important ; bottom : 0 ; left : 0 ; background : white !important ; border-radius : 0 10px 0 0 !important ; padding : 10px !important}
.cartico img {margin : 0 !important}


.container {padding : 40px ; width : 100% ; }
.container-title {margin-bottom : 20px}

.container-1col {width : 100% ; padding : 40px ; display : flex ; flex-direction : column ;  justify-content : start ; gap : 14px ;}
.container-1col > div {width : 100%}

.container-2col {width : 100% ; padding : 40px ; display : flex ; justify-content : space-between}
.container-2col > div {width : 48% ; display : flex ; align-items : center}
.container-2col > div:last-child > div {display : flex ; flex-direction : column ;  align-items : start ; gap : 10px ; margin : 14px 0}

.container-2cards {width : 100% ; display : flex ; justify-content : space-between}
.container-2cards > div {width : 48% ; }
.container-2cards > div > div {width : 100% ; }
.container-2cards > div > div:last-child {display : flex ; flex-direction : column ;  align-items : start ; gap : 10px ; margin : 14px 0}

.container-3cards {width : 100% ; display : flex ; justify-content : space-between}
.container-3cards > div {width : 30% ; }
.container-3cards > div > div {width : 100% ; }
.container-3cards > div > div:last-child {display : flex ; flex-direction : column ; gap : 10px ;  justify-content : space-between ; align-items : start ; margin-top: 14px}

.form-2cards {width : 100% ; display : flex ; justify-content : space-between}
.form-2cards > div {width : 48% ; border-radius : 10px ; border : 1px solid #cccccc ; padding : 20px}

@media(max-width : 700px){
.container {padding : 20px 10px ; width : 100% ; }

.container-1col {width : 100% ; padding : 20px 10px}

.container-2col {width : 100% ; padding : 20px 10px ; display : block}
.container-2col > div {width : 100% ; display : flex ; align-items : center}

.container-2cards {width : 100% ; display : block}
.container-2cards > div {width : 100% ; margin-bottom : 50px}

.container-3cards {width : 100% ; display : block}
.container-3cards > div {width : 100% ; margin-bottom : 50px}

.form-2cards {width : 100% ; display : block}
.form-2cards > div {width : 100% ; margin-bottom : 50px}

}


img {width : 100% ; height : auto}

h1,h2,h3,h4,h5,h6 {font-weight : 400}

h1 { font-size : 2rem; font-weight : 500; line-height : 2.4rem; }
h2 { font-size : 1.6rem; font-weight : 400; line-height : 2rem; }
h3, .archive-title, .archive-price { font-size : 1rem ; font-weight : 500 }


p { font-size : 14px; font-weight : 400; line-height : 24px; color : #606060; }








/*
@media(min-width: 700px){ 
div#customer_login {display : flex ; justify-content : space-between ; padding : 20px}
div#customer_login .col-2, div#customer_login .col-1 {width : 48% ; padding : 20px ; border : 1px solid #cccccc ; border-radius : 10px} 
}
@media(max-width: 700px){ 
div#customer_login {display : block ; justify-content : space-between ; padding : 20px}
div#customer_login .col-2, div#customer_login .col-1 {width : 100% ; padding : 20px ; border : 1px solid #cccccc ; border-radius : 10px} 
}
*/





@media(max-width: 700px){ .desktop {display : none} .mobile {display : flex} }

@media(min-width: 700px){ .desktop {display : flex} .mobile {display : none} }


/*
button {border : none ;background : black ; height : 40px ; width : 100% ; color : white}
*/

.single_variation_wrap {
    width: 100%;
}


.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {margin-top : 10px}


.button{
width : 100% ;
height : 50px ;
display: flex ; 
gap: 20px ;
align-items : center;
justify-content : center;
font-size : 14px ;
background : none ;
font-weight : 400 ;
text-align : center ;
text-decoration : none ;
transition : 0.2s ;
color : black ;
border : 1px solid black;
}

.button2{
height : 50px ;
display: flex ; 
gap: 20px ;
align-items : center;
justify-content : center;
font-size : 14px ;
background : white ;
font-weight : 400 ;
text-align : center ;
text-decoration : none ;
transition : 0.2s ;
color : black ;
padding : 0 20px;
border : none;
}


button:hover, .button:hover, input[type=submit]:hover {background : black !important ; color : white !important}

.pointer {cursor : pointer}

.underline-button {color : black ; text-decoration : none ; border-bottom : 1px solid black ; width : auto ; font-weight : 400}








/*account temporary css*/


.woocommerce-MyAccount-navigation ul {list-style : none}
.woocommerce-MyAccount-navigation-link a {text-decoration : none ; color : black}
.woocommerce-MyAccount-navigation-link.is-active a {font-weight : 500 !important}
.woocommerce-MyAccount-navigation-link:hover a {font-weight : 500 !important}
.woocommerce-MyAccount-navigation-link {padding : 10px 0 ; border-bottom : 1px solid #cccccc}
.woocommerce-MyAccount-content {display : flex ; gap : 20px ; flex-direction : column ; justify-content : center}
.woocommerce-MyAccount-content p {display : block}
.wishlist {list-style : none}
.wishlist li {padding : 10px 0 ;}
.wishlist li a {text-decoration : none ; color : black}
.wishlist li a:hover {border-bottom : 1px solid #cccccc}
.woocommerce-MyAccount-navigation-link--downloads, .woocommerce-orders-table__cell-order-number, .woocommerce-orders-table__header-order-number {display : none !important}
.woocommerce table.my_account_orders .button {
    background: black;
    white-space: nowrap;
    color: white;
    border-radius: 0;
    font-weight: 400;
}
.woocommerce-LostPassword {margin-top : 15px}
.woocommerce-LostPassword a,.woocommerce-privacy-policy-link {color : black ; text-decoration : none ;  border-bottom : 1px solid black ; }

@media(max-width : 700px){
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {text-align : right !important ; padding : 10px}
.u-column2.col-2.woocommerce-Address {display : none}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: right !important;
    width: 100%;
}
}

.woocommerce form input[type=password] {
    padding: 10px;
}
.woocommerce-Button {margin : 20px auto !important}

.woocommerce table.my_account_orders .button {
    background: black;
    margin: 10px 0;
    white-space: nowrap;
    color: white;
    border-radius: 0;
    font-weight: 400;
}


.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
display : none;
}

/*account temporary css*/


