

.logolink {width : auto ; max-width : 120px ; display : flex}
.logolink img {width : 100% ; max-height : 60px}

@media(min-width : 991px){
.logolink {width : auto ; max-width : 180px}
}



.mobile-menu-head{display: none;}
nav {margin : auto}
.menu-main {display : flex ; list-style : none ; }
.menu-item-has-children {margin-right : 20px}

/*.nor-header .menu > ul > li .mega-menu{position: absolute ; z-index: 500; background-color:#ffffff; padding: 40px 60px; transition: all 0.1s ease; top : 50px ;
opacity:0;visibility: hidden; left: 50%; transform: translateX(-50%); width: 100%; display: flex; flex-wrap: wrap;}*/

.header .menu > ul > li .mega-menu {
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    padding: 40px 60px;
    transition: all 0.1s ease;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, 99%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.header .menu > ul > li .mega-menu .mega-inside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.header a{text-decoration : none ; color : #252525}
.header a:hover{text-decoration : none ; color : black}

ul > li.menu-item-has-children:hover .mega-menu{margin-top: 0;visibility: visible;opacity: 1; }
.list-item {flex:0 0 16%; padding:0 15px;}
.doublecol {flex:0 0 32%; padding:0 15px;}
.list-item ul {list-style : none}
.list-item h4{margin-bottom : 10px ; font-weight : 400}
.list-item ul li {margin : 14px 0}
.list-item ul li a{text-decoration : none ; color : #555555}
.list-item img{max-width: 100%;width: 100%;}

.header .menu > ul > li > a i{display : none}
.header .menu > ul > li > div i{display : none}















.ep-iFrameContainer {background : none !important}























@media(max-width: 991px){
.header .menu{position : fixed ; width: 280px; background-color:#ffffff; right:0; overflow : hidden ;
top:0; height: 120%; transform: translate(100%); transition: all 0.5s ease; z-index: 1099; }
.header .menu.active{transform: translate(0%)}

.header .menu .mobile-menu-head{display: flex;height: 50px;border-bottom: 1px solid rgba(0,0,0,0.1);
justify-content: space-between; align-items: center; z-index: 501; position: sticky; background-color: var(--main-color) ; top:0; padding : 0 16px} 
.header .menu > ul > li > a{position: relative ;  display : block ; width : 100% ;}
.header .menu > ul > li > a i{display : block ;position: absolute; top:0; left: 0; }
.header .menu > ul > li > div{position: relative ;  display : block ; width : 100%}
.header .menu > ul > li > div i{display : block ;position: absolute; top:0; left: 0; }
.header .menu .mobile-menu-head .go-back{cursor: pointer;line-height: 50px;text-align: center;color:#000000 ;display: none;}
.header .menu .mobile-menu-head.active .go-back{display: block;}
.header .menu .mobile-menu-head .current-menu-title{font-size: 15px;font-weight: 500;color:#000000;}
.header .menu .mobile-menu-head .mobile-menu-close{ cursor: pointer; color:#000000; }
.header .menu .menu-main{height: 120%;overflow-x: hidden;overflow-y: auto; display : block ; padding : 0 16px}
.header .menu > ul > li .mega-menu{
visibility: hidden; opacity: 0; position: absolute; box-shadow: none; margin:50px 0 0 0 ;padding:15px; top:0; left:0; width: 100%; height: calc(100vh - 50px) ; max-width: none; min-width: auto;display: block;
transform: translateX(100%);overflow-y: auto; transition : 0.3s}
.header .menu > ul > li .mega-menu.active{ display: block; transform: translateX(0) ; visibility : visible ; opacity : 1}

.header .menu > ul > li .mega-menu .mega-inside { width: 100%; display: block ; }


.header .menu > ul > li .mega-menu > .mega-inside > .list-item {margin-bottom : 26px}
.header .menu > ul > li .mega-menu > ul > li > a,
.header .menu > ul > li .mega-menu > .list-item > ul > li > a{display: block;}
.header .menu > ul > li .mega-menu > .list-item > ul {margin-bottom: 15px;}

.menu > ul > li {margin : 0 ; border-bottom : 1px solid #cccccc ; padding : 20px 6px}
.menu > ul > li > a i {width : 14px}
.nota {touch-action: none; -ms-touch-action: none}
.list-item ul li {margin : 0 ; padding : 10px 0 ; border-bottom : 0}
.list-item {padding : 0}
}