/*ul.attribute-terms-list li a[href*="/color/green/"] {background : red}*/

.attribute-terms-list .cccon {width : 30px ; height : 30px ; border: 1px solid #00000025}

a.ccolor {
border-radius : 20px; padding : 6px; display : flex ; width : 24px; height : 24px;
}

a.gold
{
background: linear-gradient( -45deg , 
rgba(255,255,255,0.5) 20%, 
rgba(255,255,255,0) 26%, 
rgba(255,255,255,0) 30%, 
rgba(255,255,255,0.5) 36%, 
rgba(255,255,255,0.5) 40% , 
rgba(255,255,255,0) 46%, 
rgba(255,255,255,0) 50%, 
rgba(255,255,255,0.5) 56%, 
rgba(255,255,255,0.5) 70%, 
rgba(255,255,255,0) 76%), 
#d3bd83; }


a.rosegold 
{background: linear-gradient( -45deg , 
rgba(255,255,255,0.5) 20%, 
rgba(255,255,255,0) 26%, 
rgba(255,255,255,0) 30%, 
rgba(255,255,255,0.5) 36%, 
rgba(255,255,255,0.5) 40% , 
rgba(255,255,255,0) 46%, 
rgba(255,255,255,0) 50%, 
rgba(255,255,255,0.5) 56%, 
rgba(255,255,255,0.5) 70%, 
rgba(255,255,255,0) 76%), 
#FFC6AA; }

a.silver
{
background: linear-gradient( -45deg , 
rgba(255,255,255,0.5) 20%, 
rgba(255,255,255,0) 26%, 
rgba(255,255,255,0) 30%, 
rgba(255,255,255,0.5) 36%, 
rgba(255,255,255,0.5) 40% , 
rgba(255,255,255,0) 46%, 
rgba(255,255,255,0) 50%, 
rgba(255,255,255,0.5) 56%, 
rgba(255,255,255,0.5) 70%, 
rgba(255,255,255,0) 76%), 
#D3D3D3; }

a.black
{background: linear-gradient( -45deg , 
rgba(255,255,255,0.5) 20%, 
rgba(255,255,255,0) 26%, 
rgba(255,255,255,0) 30%, 
rgba(255,255,255,0.5) 36%, 
rgba(255,255,255,0.5) 40% , 
rgba(255,255,255,0) 46%, 
rgba(255,255,255,0) 50%, 
rgba(255,255,255,0.5) 56%, 
rgba(255,255,255,0.5) 70%, 
rgba(255,255,255,0) 76%), 
black; }

a.red
{
background: linear-gradient( -45deg , 
rgba(255,255,255,0.5) 20%, 
rgba(255,255,255,0) 26%, 
rgba(255,255,255,0) 30%, 
rgba(255,255,255,0.5) 36%, 
rgba(255,255,255,0.5) 40% , 
rgba(255,255,255,0) 46%, 
rgba(255,255,255,0) 50%, 
rgba(255,255,255,0.5) 56%, 
rgba(255,255,255,0.5) 70%, 
rgba(255,255,255,0) 76%), 
#aa0000; }

a.blue
{
background: linear-gradient( -45deg , 
rgba(255,255,255,0.5) 20%, 
rgba(255,255,255,0) 26%, 
rgba(255,255,255,0) 30%, 
rgba(255,255,255,0.5) 36%, 
rgba(255,255,255,0.5) 40% , 
rgba(255,255,255,0) 46%, 
rgba(255,255,255,0) 50%, 
rgba(255,255,255,0.5) 56%, 
rgba(255,255,255,0.5) 70%, 
rgba(255,255,255,0) 76%), 
#0000aa; }

a.green
{
background: linear-gradient( -45deg , 
rgba(255,255,255,0.5) 20%, 
rgba(255,255,255,0) 26%, 
rgba(255,255,255,0) 30%, 
rgba(255,255,255,0.5) 36%, 
rgba(255,255,255,0.5) 40% , 
rgba(255,255,255,0) 46%, 
rgba(255,255,255,0) 50%, 
rgba(255,255,255,0.5) 56%, 
rgba(255,255,255,0.5) 70%, 
rgba(255,255,255,0) 76%), 
#00aa00; }